body{
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    letter-spacing: .5em;
    background: linear-gradient(to right,rgb(89, 239, 255), rgb(230, 0, 0));
}




h1{
	font-size: 3em;
	font-family: fantasy;
}

h2{
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
	text-transform: capitalize;
	letter-spacing: .1em;
}

#c1, #c2{
	border: 1px ridge black;
	border-radius: 8px;
}